* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #242424;
  font-size: 2rem;
  font-family: Poppins, sans-serif;
  color: #fff;
}

.card {
  background: #4a1d93;
  background: linear-gradient(
    10deg,
    #4a1d93 0%,
    #000024 83%,
    #08004a 100%
  );

  width: 1100px;
  height: 1200px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header div {
  background-color: rgb(207, 10, 10);
  color: white;
  font-size: 3.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.corpo {
  padding: 10px 20px 50px 20px;
  background-color: #110c44;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

h1 {
  margin: 15px auto 10px auto;
  text-align: center;
}

section {
  padding: 10px;
  margin-top: 30px;
}

p {
  text-align: justify;
}

span {
  color: rgb(228, 224, 9);
  font-size: 24px;
}

ul li {
  margin-left: 70px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.email {
  background-color: #f8f8f8;
  color: #141414;
  padding: 20px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 500;
}
